@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base reset */
html,
body {
  padding: 0;
  margin: 0;
}

/* Test: se questo CSS entra, lo sfondo diventa verde */
body {
  background: #c7f9cc !important;
}
