@tailwind base;
@tailwind components;
@tailwind utilities;

/* SOLO giorni disabilitati */
.rdp_day_disabled_custom {
  opacity: 0.35 !important;
  color: #777 !important;
  background-color: #f2f2f2 !important;
}

/* opzionale: se vuoi proprio far capire che non è cliccabile */
.rdp_day_disabled_custom button {
  cursor: not-allowed !important;
}
