@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
  --font-serif: ui-serif, Georgia, "Times New Roman", serif;
}

.font-sans { font-family: var(--font-sans); }
.font-serif { font-family: var(--font-serif); }

html,
body {
  margin: 0;
  padding: 0;
}
