@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset base */
html, body {
  padding: 0;
  margin: 0;
}

/* colori base luxury */
body {
  background-color: #EEF4F0; /* verde latte */
  color: #1F1F1F;
  font-family: var(--font-sans);
}
